.tanktalker-ai-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding: 24px 0px;
    position: relative;
    padding-top: 100px;
}

input::placeholder{
    overflow: visible;
    color: #fff;
    opacity: .65;
    align-items: flex-start;
}

.tanktalker-title {
    padding-bottom: 20px;
    color: #046ad0;
}

.tanktalker-search-form{
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;

}

.tanktalker-search-input {
    width: 546px;
    height: 44px;
    padding: 0 16px;
    font-size: 12px;
    border: 1px solid #dfe1e5;
    line-height: normal;
    margin: 0;
    outline: none;
    box-sizing: border-box;
    position: relative;
}

.tanktalker-search-button {
    height: 44px;
    align-items: center;
    background-color: #f8f9fa;
    color: #3c4043;
    padding: 0 16px;
    border: 1px solid #dfe1e5; /* only rounds right corners/ opposite only rounds left corners*/
    border-left: none; /*removes left boarder for seamlessness*/
    cursor: pointer; /* changes the cursor to a pointer on hover*/
}

.tanktalker-search-button:hover {
    box-shadow: 0 1px 1px rgba(0,0,0,0.1); /*sublte shadow*/
    background-color: #ebebeb;
}