.tanktalker-interface {
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
    overflow-y: auto;
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    font-size: 12px;
}

.messages-container {
    position: relative;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    height: 0;
    transition: height 3s cubic-bezier(0, 1, 0, 1);
    border-color: #046ad0;
}

.message {
    padding: 0px 10px;
    margin: 3px 3px;
    border-radius: 10px;
    max-width: fit-content;
    align-self: flex-start;
}

.message.user {
    align-self: flex-end;
    background-color: #046ad0;
    color: #f9fbf2;
}

.typing-indicator {
    animation: dotTyping 1.2s infinite step-start;
    position: relative;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.typing-indicator span {
    width: 5px;
    height: 5px; /* Adjust height to match width */
    background-color: #333;
    border-radius: 50%; /* Ensures the dot is circular */
    margin: 0 2px; /* Adds spacing between dots */
    animation: dotFade .6s infinite alternate; /* Updated animation name */
}

@keyframes dotFade {
    0%, 100% { opacity: 0; }
    50% { opacity: 1; }
}

.typing-indicator span:nth-child(1) {
    animation-delay: 0s; /* No delay for the first dot */
}

.typing-indicator span:nth-child(2) {
    animation-delay: 0.1s; /* Delay for the second dot */
}

.typing-indicator span:nth-child(3) {
    animation-delay: 0.2s; /* Delay for the third dot */
}

.message.ai {
    align-items: flex-start;
    background-color: #ebebeb;

}

.messages-container.chat-started {
    height: 325px;
    overflow-y: auto;
}
